/* google font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/* Header section */
.logo{
    display: flex;
}

.logo-font{
    font-weight: bold;
    font-size: 1.5rem;
    padding-top:16px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 24px;
}

nav > a{
    text-decoration: none;
    padding: 7px;
}

/* nav name color */
#home{
    color: orange;
}

#about{
    color: skyblue;
}

#Facilities{
    color: #05D4DF;
}

#Admissions{
    color: #5D58EF;
}
.btn{
    background-color: orange;
    color: white;
    width: 100px;
    height: 34px;
    border-radius: 5px;
    border: none;
}

#hide{
    display: none;
}

hr{
    display: none;
}

/* banner section start */

.hero{
    display: flex;
    max-width: 1270px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 62px;
}

.hero-text{
    text-align: left;
    margin-bottom: 16px;
}


#Empowering{
    color: orange;
    font-weight: bold;
}

.towards-vision{
    color: skyblue;
    font-weight: bold;
}

.banner-btn{
    background-color: black;
    color: white;
    font-weight: bold;
    width: 110px;
    height:40px ;
    border: none;
    border-radius: 5px;
    margin-top:16px;
}

/* Curriculum-section start */

.Curriculum-section{
    background-image: url(../assets/bg.png);
    max-width: 1380px;
    height:690px ;
    margin: 0 auto;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}
.card{
    display: flex;
    /* border: 2px solid green; */
    justify-content: space-between;
    /* gap: 52px; */
    max-width:1300px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 38px;
}

/* card-01 */
.Curriculum-card-1{
    width: 300px;
    height: 320px;
    padding:28px ;
    /* border: 2px solid green; */
    border-radius: 10px;
    margin-bottom: 16px;
    background: linear-gradient(to bottom, #DEF5FF 0% ,#FFFFFF 40%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-description-1{
    color: #808080;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}


#read-btn-1{
    color: #64C8FF;
    margin-top:18px;
}

/* card-02 */

.Curriculum-card-2{
    width: 300px;
    height: 320px;
    padding:28px ;
    /* border: 2px solid green; */
    border-radius: 10px;
    margin-bottom: 16px;
    background: linear-gradient(to bottom, #FFF4DC 0% ,#FFFFFF 40%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-description-2{
    color: #808080;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}

#read-btn-2{
    color: #F0AA00;
    margin-top:18px;
}

/* card-03 */

.Curriculum-card-3{
    width: 300px;
    height: 320px;
    padding:28px ;
    /* border: 2px solid green; */
    border-radius: 10px;
    margin-bottom: 16px;
    background: linear-gradient(to bottom, #F2E8FF 0% ,#FFFFFF 40%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-description-3{
    color: #808080;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}


#read-btn-3{
    color: #8700FF;
    margin-top:18px;
}


/* Story section start */
.story-section {
    background: 
     url(../assets/bg.png) no-repeat center center, 
    linear-gradient(to top, #FFEFD3 0%, white 100%);
    background-size: cover;
    max-width: 1370px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.story-main-title{
    font-weight: bold;
    margin-bottom: 30px;
}
.main-card{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  
}
.card-1{
    width: 480px;
    height: 530px;
    background-color: white;
    /* border: 2px solid green; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.card-1>.story-img>img{
    width:100%;
    border-radius: 22px 23px 0 0;
}

.story-title{
    text-align: left;
    margin-top: 16px;
    padding-left: 36px;
}

.story-description{
    color: #666666;
    text-align: left;
    margin-top:1.2rem;
    padding: 1.7rem ;
}

.four-card {
    /* border: 2px solid green; */
    max-width: 1080px;
    height: 570px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.story-one {
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%; /* Take full height from grid cell */
}

.story-one-img img {
    width: 100%;
    height: 140px;
    border-radius: 24px 24px 0 0;
    display: block;
}

.story-one-title {
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    padding-top:24px ;
    text-align: center;
}

.story-btn{
    width: 130px;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 36px;
}

/* responsive section start here */

@media screen and (max-width:572px) {
    .logo > h3{
        display: none;
    }
    nav,.btn{
        display: none;
    }
    
  header,#hide{
    display: flex;
    justify-content: space-between;
    margin: 0 7px 0 7px;
    font-size: xx-large;
    padding-bottom: 10px;
  }
 hr{
    display: block;
    height: 1px;
    background-color: orange;
    border: none;  
    width: 100vw; 
    margin:0; 
    position: relative;
    left:0;
 }

 .hero{
    flex-direction: column-reverse;
    padding: 10px;
 }

 img{
    width: 100%;
 }

 .hero-text{
    text-align: center;
 }
.card{
    flex-direction: column;
    padding:42px;
}
 
.Curriculum-card-1 > div >img{
    width: 50%;
}
.Curriculum-card-2 > div >img{
    width: 50%;
}
.Curriculum-card-3 > div >img{
    width: 50%;
}
 .story-section{
    margin-top: 600px;
    padding: 5px;
 }
.card-1{
    display: none;
}

.four-card{
    grid-template-columns: repeat(2, 1fr);
}

}